/****** General ***********/
$color-purple-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123,93%);
$color-grey : #f3f3f3;
$color-greydark:#353535;
$color-purple: #9356DC;
$color-blue-2: #003A68;
$color-blue: #89C8FA;
$color-green-font: #008766;
$color-green: #99E2D0;


body{
    display: flex;
    margin: inherit;

}

.main-container{
    width: 100%;
    min-width: 320px;
	max-width: 1440px;
}

/****** HEADER ***********/


.header-logo{
    display: flex;
    height: 30px;
    width:  40%;
    margin-left: 30%;
    padding-bottom: 10px;
    padding-top: 10px;

}

.location{
    display: flex;
    background-color: #eaeaea;
    box-shadow: 50px;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

.placeholder{
    border: transparent;
    background-color: #eaeaea;
}

::placeholder {
    color: BLACK;
    opacity: 1;
}

/****** SECTION ***********/

.sectionbackground{
    background-color: $color-grey;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    
    
}

.btngradient{
    width: 60%;
    height: 50px;
    justify-content: center;
    border-radius: 25px;
    color: white;
    border-color:transparent;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    &:hover{
        transform: scale(1.1);
    }
}

/****** Section Fonctionnement  ***********/

.titre-h1{
    margin-left: 15px;
}


.fonc-direction{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn{
    width: 90%;
    height: 65px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #f6f6f6;

        .number{
            width: 5%;
            height: 20px;
            border-radius: 20px;
            background: $color-purple;
            text-align: center;
        }
}

/****** Section Restaurants  ***********/

.restaurant{
    width: 100%;
}

a{
    text-decoration: none;
    .restaurant-a{
        width: 90%;
        height: 120px;
        
    }
}


.card {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.restaurant-card {
    display: flex;
    width: 90%;
    flex-direction: column;

}


.restaurant-card img{
    width: 100%;
    height: 154px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}


.restaurant-card .card-content{
    width : 100%;
    padding-left : 15px;

}

.restaurant-card .card-title{
    margin-top: 5px;
    margin-bottom: 4px;
}

.card-rating{
    justify-content: flex-end;
}
